.menu {
  display: flex;
}

.field-content {
  color: #0a65aa;
  word-wrap: break-word;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.w-48 {
  width: 48%;
}

.bg-blue {
  background-color: #00ffff;
}

.bg-gray {
  background-color: #333333;
}

.block-copyright {
  position: absolute;
  width: 100%;
  bottom: -36px;
  left: 0;
  background-color: #333333;
  color: #ffffff;
}

.copy-right {
  ul {
    display: flex;
    justify-content: space-between;
  }
}

#block-avenue-search {
  form {
    .form-actions {
      display: none;
    }
  }
}

#block-contentbanner {
  height: 920px;

  .copy-right {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #f8f8f8;
    height: 920px;
  }

  img {
    margin: 0;
  }
}

.menu-banner {
  &--list {
    div {
      opacity: 0;
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    &:hover div {
      opacity: 1;
      visibility: visible;
      height: auto;
      filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.14));
      background-color: #f8f8f8;
      padding: 15px;
    }
  }
}

.text-banner {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}
