* {
    transition: all 0.5s ease-out;
}

body {
  text-transform: uppercase;
  font-family: "Montserrat";
}

figure,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.cursor {
  cursor: pointer;
}

.show-block {
  display: block !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 13px;
  line-height: 20px;
  color: #575153;
  font-weight: 400;
  font-family: "Montserrat";
}


/* flex */
.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-evenly {
  justify-content: space-evenly;
}

.a-items {
  align-items: center;
}

.p-relative {
  position: relative;
}

/*colors*/
.c-gray-light {
  color: #777777;
}

/**/
.bg-gray {
  background-color: #333333;
}

.bg-gray-light {
  background-color: #f8f8f8;
}

/*padding*/
.p-60 {
  padding: 60px;
}

.pb-10 {
  padding-bottom: 10px;
}

pb-6 {
  padding-bottom: 6px;
}

/**/
.w-20 {
  width: 20%;
}

/*text*/
.capitalize {
  text-transform: capitalize;
}
